<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인터파크 베스트셀러</title>
    <style>
        th, td {padding: 2px;}
    </style>
</head>
<body style="margin: 40px;">
    <h3>인터파크 베스트셀러</h3>
    <hr>
    <table border="1">
        <tr>
            <th>순위</th>
            <th>제목</th>
            <th>저자</th>
            <th>출판사</th>
            <th>가격</th>
            <th>이미지</th>
        </tr>
        {# {'순위': rank, '제목':title, '저자':author, '출판사':company, 
            '가격':f'{price:7,d}', '링크':base_url+href_, '이미지':image_} #}
        {% for book in book_list %}
            <tr>
                <td style="text-align: center;">{{book.순위}}</td>
                <td style="text-align: center;"><img src="{{book.이미지}}" alt="" height="40px"></td>
                <td><a href="{{book.링크}}" target="_blank">{{book.제목}}</a></td>
                <td style="text-align: center;">{{book.저자}}</td>
                <td style="text-align: center;">{{book.출판사}}</td>
                <td style="text-align: right;">{{book.가격}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>