<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>식신 영등포역 맛집</title>
</head>
<body style="margin: 40px;">
    <h2>식신 영등포역 맛집</h2>
    <hr>
    {# {'업소명':name, '평점':score, '메뉴':menu, '주소':addr, '전화번호':tel} #}
    <table border="1">
        <tr>
            <th>업소명</th>
            <th>평점</th>
            <th>메뉴</th>
            <th>주소</th>
            <th>전화번호</th>
        </tr>
        {% for rest in rest_list %}
            <tr>
                <td>{{rest.업소명}}</td>
                <td>{{rest.평점}}</td>
                <td>{{rest.메뉴}}</td>
                <td>{{rest.주소}}</td>
                <td>{{rest.전화번호}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>